.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.app-header {
  background-color: rgb(22, 204, 228);
  color: rgb(247, 243, 241);
  filter: drop-shadow(0px 4px 0.55rem rgb(6, 103, 121));
}

.input-form {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

input{
  width: auto;
  height: auto;
  margin: .5rem;
}

button {
  padding: .5rem;
  margin: .5rem;
  border: 1px solid black;
  border-radius: 10%;
  background-color: rgb(22, 204, 228);
}
.meme-image {
  height: 50vh;
  align-items: center;
  position: relative;
}

img{
  height: 100%;
  width: 400px;
  position: relative;
  object-fit: contain;
}


.top {
  position: absolute;
  top: 10px;
 width:100%;
 text-align: center;
 font-size: 40px;
 color: rgb(247, 243, 241);
 filter: drop-shadow(0px 4px 0.55rem rgb(230, 19, 19));
}

.bottom {
  position: absolute;
  bottom: 10px;
  width:100%;
  text-align: center;
  font-size: 40px;
  color: rgb(247, 243, 241);
 filter: drop-shadow(0px 4px 0.55rem rgb(236, 16, 16));
}